PyQt6==6.10.1
Pillow==12.0.0
requests==2.32.5
PyYAML==6.0.3
watchdog==6.0.0
# Windows only
pywin32==311; sys_platform == "win32"
screeninfo==0.8.1; sys_platform == "win32"
# macOS only
pyobjc-core>=10.0; sys_platform == "darwin"
pyobjc-framework-Cocoa>=10.0; sys_platform == "darwin"
