[Unit]
Description=Set Wallpaper Service
After=graphical-session.target

[Service]
Type=simple
User=nverenin
Group=nverenin
Environment=DISPLAY=:0
Environment=XDG_RUNTIME_DIR=/run/user/1000
ExecStart=/home/nverenin/miniforge3/bin/python /home/nverenin/git/qdbus6_setwallpaper/setwallpaper.py
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
